*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #1d1e23;
    color: white;
}
.content{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
}

textarea{
    background-color: #3c3d46;
    resize: none;
    border-radius: 6px;
    padding: 8px;
    color: white;
    outline: none;
    font-size: 24px;
    text-align: justify;
}
textarea:focus{
    border: 1px solid #8257e5;
}
*/
.chatResponse{
    border-radius: 12px;
    min-height: 60px;
    display: flex;
    align-items: center;
    font-size: 15px;
    max-width: 600px;
    padding: 10px 10px;
    line-height: 20px;
}
.chatBotIcon{
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.chatBotIcon i{
    font-size: 30px;
    margin-right: 8px;
}
.chatResponse.user{
    box-shadow: 0 2px 7px 0 #9d9d9d;
    color: black;
    background: #eae8e8!important;
    min-width: 50px;
}
.chatResponse.bot{
    /*float: left;*/
    background-color: #8257e5;
    box-shadow: 0 2px 7px 0 #513591b5;
    color: white;
}
.inputQuestion{
    height: 70px;
    padding: 20px;
}

.errorMessageApi{
 /*   color: red;*/
}

span.boxResponse {
    min-width: 100px;
}
.boxResponse.bot{
    display: flex;
    justify-content: flex-start;
}
.boxResponse.user {
    display: flex;
    justify-content: flex-end;
}
header{
    background-color: #380896;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    box-shadow: 0 0 10px 0 black;
}

body{
    background-color: rgb(241, 241, 241);
    /*color: white;*/
}
main{
    padding: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    font-size: 24px;
    margin: 0;
}

main {
    flex: 1;
    overflow-y: scroll;
    max-height: calc(100vh - 160px);
    padding: 10px;
}

footer {
    background-color: #eee;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.inputs {
    display: flex;
    align-items: center;
}

.inputQuestion {
    flex: 1;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    padding-right: 70px;
}
i.bi-send{
    font-size: 20px;
    color: #676565;
    width: 40px;
    text-align: center;
    position: fixed;
    right: 37px;
}
i.bi-send:hover{
    cursor:pointer;
}

::-webkit-scrollbar {
    display: none;
}
.acoesChat {
    position: fixed;
    right: 30px;
    display: flex;
    font-size: 20px;
}
.headerHiperlink.hidden{
    margin-right: 20px;
}
i.bi.bi-dash:hover{
    cursor: pointer;
}